@import "../base/global";

.c-item {
    --c-item-photo_scale: 1;
    position: relative;
    min-block-size: 100vh;

    &.is-active{
        --c-item-photo_scale: 1.2;
        --c-item-text_animation: showText;
        --c-item-box_animation: whiteBox;
    }

    &__photo {
        position: absolute;
        inset: 0;
        opacity: .9;
        scale: var(--c-item-photo_scale);
        transition: scale 5s linear;

        img {
            @include position;
            position: relative;
            display: block;
            min-inline-size: 100%;
            min-block-size: 100%;
        }
    }

    &__content {
        @include position;
        @include flex-set(flex, column, wrap, var(--c_gap, 2em), center, center);
        overflow: hidden;
        > h1,
        strong {
            position: relative;
            font-family: $font-title;
            font-size: clamp($gap-xxl, 6em, 20vh);     
            line-height: 1;
            color: var(--content_color, var(--color-trans));
            text-shadow: var(--content_text-shadow, var(--color-trans) 1px 0 10px);
            animation: var(--c-item-text_animation) .1s linear forwards;
            animation-delay: 1s;

            &:after{
                position: absolute;
                inset: -.1em;
                content: "";
                background-color: var(--color-white);
                animation: var(--c-item-box_animation) 2s linear forwards;
                translate: -100%;
            }
        }
    }
}

@keyframes showText{
    to{
        --content_color: var(--color-white);
        --content_text-shadow: var(--color-primary) 1px 0 10px;  
    }
}

@keyframes whiteBox{
    from{
        translate: -100%;
        scale: 0 1;

    }

    40%, 60%{
        translate: 0;
        scale: 1 1;
    }

    to{
        translate: 100%;
        scale: 0 1;
    }
}
