@import "../base/global";

.c-item {
    --c-item-photo_scale: 1;
    position: relative;
    min-block-size: 100vh;

    &.is-active{
        --c-item-photo_scale: 1.2;
        --c-item-text_animation: showText;
        --c-item-box_animation: whiteBox;
    }

    &__photo {
        position: absolute;
        inset: 0;
        opacity: .9;
        scale: var(--c-item-photo_scale);
        transition: scale 5s linear;

        img {
            @include position;
            position: relative;
            display: block;
            inline-size: 100%;
        }
    }

    &__content {
        @include position;
        overflow: hidden;
        > h1,
        strong {
            position: relative;
            font-size: 5em;     
            color: var(--color-trans);
            animation: var(--c-item-text_animation) .1s linear forwards;
            animation-delay: 1s;

            &:after{
                position: absolute;
                inset: 0;
                content: "";
                background-color: var(--color-white);
                animation: var(--c-item-box_animation) 2s linear forwards;
                translate: -100%;
            }
        }

        > small,
        > a {
            
        }
    }
}

@keyframes showText{
    to{
        color: white;    
    }
}

@keyframes whiteBox{
    from{
        translate: -100%;
        scale: 0 1;

    }

    40%, 60%{
        translate: 0;
        scale: 1 1;
    }

    to{
        translate: 100%;
        scale: 0 1;
    }
}
