@import "../base/global";

.gallery {
  @include grid-columns(
    grid,
    repeat(var(--col-count, 4), minmax($gap-m, 1fr)),
    var(--gap, #{$gap-xxl}),
    var(--align-items, flex-start)
  );

  @include res-max-laptop-s {
    --gap: #{$gap-l};
    --col-count: 3;
  }

  @include res-max-tablet {
    --col-count: 2;
  }

  @include res-max-mobile-l {
    --col-count: 1;
    --gap: #{$gap-xl};
  }
}

.gitem {
  --photo_scale: 1;
  display: block;
  overflow: hidden;

  @include hover{
    --photo_scale: 1.1;
  }

  &__photo{
    position:relative;
    inline-size: 100%;
    aspect-ratio: 16 / 9;

    img {
      @include position;
      display: block;
      inline-size: 100%;
      scale: var(--photo_scale);
      transition: scale var(--trans-time) var(--trans-fnc);
    }
  }
}